= image_tag @part.isometric_jpg, :class => 'isometric'
- form_for @part, :url => transform_part_path(@part) do |f|
  %h3== 模型#{link_to @part.name, part_parameters_path(@part)}的可选参数如下:
  - @part.parameters.each do |parameter|
    .field
      = label_tag parameter.name
      = text_field_tag "parameters[#{parameter.id}]", parameter.value
  .submit
    = submit_tag '保存'
    = link_to '返回', :back
