- @parts.each do |part|
  %div
    = link_to((image_tag('Part.ico', :class => 'operator')), part_path(part))
    = link_to '编辑', edit_part_path(part)
    = link_to '删除', part_path(part), :method => :delete
    = image_tag part.jpg
    %p= part.desc
