-#      = render :partial => 'part_box', :locals => {:part => part}

.welcome
  %h2 欢迎来到参数化3D模型共享平台
  在这里,
  %ul
    %li 您将获得海量的第三方供应厂商提供的3D模型
    %li 您可以轻松的发布自己的产品模型，方便客户使用
    %li 您能够通过参数化自定义符合个性化需要的模型
.papers
  模型列表:
  %table
    - @parts.in_groups_of(4) do |parts_row|
      %tr
        - parts_row.each do |part|
          - if part
            %td
              .paper
                = render( :partial => 'part_box', :locals => {:part => part})
                = link_to '查看', part_path(part), :class => 'show'
.hot-tags
  热门标签:
  %div
    - @tags.each do |tag|
      = link_to tag.name, papers_tagged_path(tag), :class => ['tag-1', 'tag-2', |
                                                'tag-3', 'tag-4', 'tag-5'].rand |
    = link_to '更多...', tags_path, :class => 'more-tags'

.hot-tags
  供应厂商:
  %div.supplier{:rel => 'helll'}
    - @suppliers.each do |supplier|
      = render :partial => 'rounder_box', :locals => {:content =>  supplier}
    = clear
    = link_to '更多...', tags_path, :class => 'more-tags'
