- @title = '上传新图纸 < '
- content_for(:head) do
  = stylesheet_link_tag 'paper'

.upload-part
  - form_for @part, :html => {:multipart => true} do |f|
    .field
      = f.label :name, '名称'
      = f.text_field :name
    .field
      = f.label :upload_file, '选择图纸'
      = f.file_field :upload_file
    .submit
      = submit_tag '上传'
      = link_to '返回', :back
