- @title = '上传新图纸 < '
- content_for(:head) do
  = stylesheet_link_tag 'paper'

- form_for @part, :html => {:multipart => true} do |f|
  .field
    = f.label :desc, '名称'
    = f.text_field :desc
  .field
    = f.label :uploaded_data, '选择图纸'
    = f.file_field :uploaded_data
  .submit
    = submit_tag '上传'
    = link_to '返回', :back
