.paper= render( :partial => 'part_box', :locals => {:part => @part})
%table.result
  %caption== 模型#{@part.name}的基本信息

  %tr== <td>名称:</td><td>#{@part.name}</td>
  %tr== <td>上传者:</td><td>#{@part.owner_name}</td>
  %tr== <td>下载次数:</td><td>#{@part.downloads}</td>
  %tr== <td>用户评分:</td><td>#{rand 10}</td>
  %tr== <td>用户标签:</td><td>#{@part.tags.collect(&:name).join(', ')}</td>
  %tr
    - form_for @part, :url => add_tags_part_path(@part) do |f|
      %td= f.label :name, '新标签:'
      %td
        = text_field_tag 'tags', nil, :style => 'width: 90px'
        = submit_tag '+'
  %tr
    %td= link_to '参数列表', part_parameters_path(@part)
    %td= link_to '参数化模型', change_part_path(@part)
  %tr
    %td
    %td= link_to '返回', :back
