- content_for :head do
  = stylesheet_link_tag 'paper'

= vrml(@part.wrl)
.desc
  = link_to @part.desc, edit_part_path(@part)
  = link_to '参数列表', part_parameters_path(@part)
  = link_to '返回', parts_path
  - form_tag change_part_path(@part), :method => :put  do
    - @part.parameters.each do |p|
      .field
        = label_tag "parameters[#{p.id}]", p.name
        = text_field_tag "parameters[#{p.id}]", "#{p.value}"
    .submit
      = submit_tag '保存'
      = link_to '返回', :back
-#     .field
-#       = f.label :desc, '定义'
-#       = f.text_field :def
-#       = label for=<%= "parameters[#{p.id}]" %> <%= p.desc+': ' %></label>
