欢迎您注册本系统
- form_for @user do |f|
  = f.error_messages
  .field
    = f.label :login, '用户名:'
    = f.text_field :login
  .field
    = f.label :login, 'E-mail:'
    = f.text_field :email
  .field
    = f.label :password, '密码:'
    = f.password_field  :password
  .field
    = f.label :password_confirmation, '密码确认:'
    = f.password_field  :password_confirmation
  .submit
    = submit_tag '提交'
