- for assemble in @assembles
  = assemble.filename
  = link_to 'Edit', edit_assemble_path(assemble)
  = render :partial => 'list', :locals => {:items => assemble.parts}
- @parts.each do |part|
  = part.filename
  = link_to 'Edit', edit_part_path(part)
