- form_for @user_session , :url => :user_session do |f|
  .field{:style => 'font-size: 1.6em'} 欢迎您登陆
  .field
    = f.error_messages
  .field
    = f.label :login, '用户名:'
    = f.text_field :login
  .field
    = f.label :password, '密码:'
    = f.password_field :password
  .field
    = submit_tag '登陆'
