!!! 1.1
%html
  %head
    = stylesheet_link_tag 'reset', 'defaults', 'lightbox/lightbox'
    = stylesheet_link_tag 'paper'
    /[if IE]
      -#= stylesheet_link_tag 'ie'
    = stylesheet_link_tag 'print', :media => 'print'

    = javascript_tag "window._token = '#{form_authenticity_token}'"
    = javascript_include_tag 'jquery-1.2.6.min', 'jquery.color', 'jquery.lightbox', 'jq'

    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %title= "#{@title}&#402;&#32;&#8776;&#32;参数化3D模型共享平台"
  %body
    .head
      %div
        %h1 参数化3D模型共享平台
        %form.search
          %a{:href => '#'} 搜索
          %input{:type => 'text', :value => 'Searching...' }
    .body
      .recommend
        本周下载次数最多:
        .paper= render :partial => 'parts/part_box', :locals => {:part => @recommend_part}

        %img{:src => '/images/left.png', :style => 'margin-top: 20px'}
      %ul.menu
        %li= link_to '所有模块', parts_path
        %li= link_to '上传新模块', new_part_path
        %li= account_link
        %li= link_to 'My Parts', account_parts_path
      .center
        = yield
        = clear
      = clear
    .foot
      = link_to '关于', '/about.html'
      = link_to '帮助', '/help.html'
      = link_to '使用条款', '/license.html'
      %br
      = link_to '&copy;&#32;机械科学研究院总院', 'http://www.cam.com.cn/'
      = link_to '3D预览插件', '/downloads/cortvrml.exe'
