!!! 1.1 
%html
  %head 
    = javascript_tag "window._token = '#{form_authenticity_token}'"
    = stylesheet_link_tag 'reset', 'defaults'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if IE] 
      = stylesheet_link_tag 'ie'
    %title &#402;&#32;&#8776;&#32;参数化3D模型共享平台
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
  %body{:class => 'showgrid'}
    .head
      %div
        %h1 参数化3D模型共享平台
        %form
          %input{:type => 'text'}
          %input{:type => 'submit', :value => 'S'}
    .content
      .recommend 
        近期下载次数最多:
        %div{:style => 'background-color: #aed'}
          Here will be sth represent the community functions
      .menu
        = link_to '上传新模型', new_part_path
        = link_to '所有模型', parts_path
      .center
        = yield
        = clear
      = clear
    .foot
      = link_to '关于', '/about.html'
      = link_to '帮助', '/help.html'
      = link_to '使用条款', '/license.html'
      %br
      = link_to '&copy;&#32;机械科学研究院总院', 'http://www.cam.com.cn/'
